/*bodyのフォント指定と中央揃え*/
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
/*文字色の指定*/
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
/*h1の装飾*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 2px 2px gray;
}
/*divタグを太字に*/
#basic {
  font-weight: bold;
}